* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 10vh auto;
    justify-content: center;
    background: gold;
    width: 70vw;
    max-width: 700px;
    gap: 10px;
}

/* image input */

.image-input-wrapper {
    max-width: 100%;
    height: 400px; 
    flex: 4 0 40%;
    padding: 10px;
}

.image-input-button {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: #00000000;
    background-image: url("./picture.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    border: white dashed 2px;
}

.image-input {
    display: none;
}

/* color buttons */

.main-color-buttons-wrapper {
    display: flex;
}

.main-color-button, .color-button {
    border-radius: 5px;
    border: none;
    margin: 2px;
    width: 55px;
    height: 90px;
    text-align: left;
    padding: 0 10%;
    user-select: text;
    cursor: pointer;
}

.main-color-button:active {
    scale: 0.9;
}

.color-button:active {
    cursor: pointer;
}

.color-button > * {
    cursor: pointer;
    opacity: 0.7;
}

.color-button:hover > * {
    font-size: 1em;
    opacity: 1;
}

.color-button:active {
    cursor: pointer;
}

.hide-inner-text > * {
    font-size: 0;
}