@font-face {
    font-family: custom-font;
    src: url('./fonts/black_chancery/blkchcry.ttf');
}

:root {
    --button-selected-border: black;
    --button-border: white;
    --text-color: #E7B10A;
    --main-background: #F7F1E5;
    --contrasting-color: #4C4B16;
}

* {
    margin: 0;
    padding: 0;
    font-family: custom-font;
    color: var(--text-color);
    scrollbar-width: thin;
}

body {
    background-color: var(--contrasting-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--main-background);
    width: 70vw;
    max-width: 40rem;
    min-height: 100vh;
    padding: 0 5rem;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding: 2rem 0;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.2rem;
    padding-top: 2rem;
}

h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
}

.palette-name-container {
    display: flex;
}

.select-palette-button {
    align-self: flex-end;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.2rem 0;
    width: 3.8rem;
    height: 100%;
    font-size: 1.2rem;
    color: var(--contrasting-color);
    background-color: var(--main-background);
    border: 0.15rem solid var(--text-color);
    cursor: pointer;
}

.select-palette-button:active {
    border: 0.15rem solid var(--contrasting-color);
}

/* image input */

.image-input-wrapper {
    width: 100%;
    min-height: 25rem; 
}

.image-input-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #00000000;
    background-image: url("./picture.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--text-color) dashed 0.3rem;
}

.image-input {
    display: none;
}

/* color buttons */

.main-color-buttons-wrapper {
    display: flex;
}

.main-color-button, .color-button {
    border-radius: 0.5rem;
    margin: 0.1rem;
    width: 3.8rem;
    height: 7rem;
    text-align: left;
    padding: 0 10%;
    user-select: text;
    cursor: pointer;
}

.main-color-button {
    border: 0.15rem solid var(--button-border);
}

.main-color-button:not(.hide-inner-text) {
    border: 0.15rem solid var(--button-selected-border);
}

.main-color-button:active {
    border: 0.15rem inset var(--button-border);
}

.main-color-button:not(.hide-inner-text):active {
    border: 0.15rem inset var(--button-selected-border);
}

.color-button {
    border: none;
    cursor: default;
}

.color-button:active {
    cursor: pointer;
}

.color-button > * {
    font-size: 1rem;
    opacity: 0.7;
}

.color-button:hover > * {
    font-size: 1rem;
    opacity: 1;
}

.color-button:active {
    cursor: pointer;
}

.hide-inner-text > * {
    font-size: 0;
}