@font-face {
    font-family: custom-font;
    src: url('./fonts/black_chancery/blkchcry.ttf');
}

html {
    font-size: 10px;
}

:root {
    --text: #E7B10A;
    --highlight: #E7B10A;
    --main: #F7F1E5;
    --support: #4C4B16;
}

* {
    margin: 0;
    padding: 0;
    font-family: custom-font;
    color: var(--text);
    scrollbar-width: thin;
    transition-property: left, background, color, border;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

body {
    background-color: var(--support);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--main);
    width: 70vw;
    max-width: 40rem;
    min-height: 100vh;
    padding: 0 5rem 2rem 5rem;
    margin: 0 auto;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    padding: 2rem 0;
}

h2 {
    position: relative;
    margin: 0 auto;
    left: -2rem;
    text-align: center;
    font-size: 2.2rem;
    padding-top: 2rem;
}

h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
}

/* palette */

.palette-name-container {
    display: flex;
}

.select-palette-button {
    align-self: flex-end;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.2rem 0;
    width: 4rem;
    height: 100%;
    font-size: 1.2rem;
    color: var(--highlight);
    background-color: var(--main);
    border: 0.15rem solid var(--highlight);
    cursor: pointer;
}

.select-palette-button:active {
    border: 0.15rem solid var(--support);
}

.palette-button-selected {
    color: var(--text);
}

/* image input */

.image-input-wrapper {
    width: 100%;
    min-height: 25rem; 
}

.image-input-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #00000000;
    background-image: url("./picture.png");
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    border: var(--text) dashed 0.3rem;
}

.image-input {
    display: none;
}

/* color buttons */

.main-color-buttons-wrapper {
    display: flex;
}

.main-color-button, .color-button {
    border-radius: 0.5rem;
    margin: 0.1rem;
    width: 4rem;
    height: 7rem;
    text-align: left;
    padding: 0 10%;
    user-select: text;
    cursor: pointer;
}

.main-color-button {
    overflow: hidden;
    border: 0.15rem solid var(--highlight);
}

.main-color-button:not(.hide-inner-text) {
    border: 0.15rem solid var(--support);
}

.main-color-button:active {
    border: 0.15rem inset var(--highlight);
}

.main-color-button:not(.hide-inner-text):active {
    border: 0.15rem inset var(--support);
}

.main-color-button > *, .main-color-button:hover > * {
    position: relative;
    left: 0rem;
    font-size: 1rem;
}

.color-button {
    overflow: hidden;
    border: none;
    cursor: default;
}

.color-button:active {
    cursor: pointer;
}

.color-button > * {
    position: relative;
    left: 0rem;
    font-size: 1rem;
    opacity: 0.7;
}

.color-button:hover > * {
    position: relative;
    left: 0rem;
    font-size: 1rem;
    opacity: 1;
}

.color-button:active {
    cursor: pointer;
}

.hide-inner-text > * {
    position: relative;
    left: -4rem;
    font-size: 1rem;
}